*{
  margin:0px;
}
body{
	background-color: #F0F0F0;
	background-repeat: repeat;
	background-size: 1400px 700px;
	background-blend-mode: luminosity;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: right;
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
.logo{
  float: left;
  width: 100px;
  padding-top: 55px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 60px;
}

div.clearfix {
  z-index: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
  height:150px;
  width: 100%;
}
.search1{
padding-bottom: 8px;
padding-top: 8px;
  width: 500px;
  margin-left: 20px;
   border-radius: 15px;
   background-color: #F0F0F0;
   border: hidden;
   text-align: left;
   padding-left: 14px;
}
hr{
  margin:0px;
}
.options{
  border-radius: 10px;
  margin-right: 20px;
}
.pro{
  border-radius: 10px;
}
.search1 input:focus{
  outline-width: 0px;
}
#opt{
  display: flex;
  flex-wrap: nowrap;
  margin-right: 20%;
}
#log{
  display: flex;
  align-items: center;
}
.prof{
  position: absolute;
  top: 570px;
  margin-left: 7%;
}
.know{
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #D3D3D3;
  margin-top: 0px;
}
.li{
  font-family: "Comic Sans MS";
  font-size: 20px;
  margin-right: 7%;
}
div.post img.posted{
  height: 500px;
  margin-left: 5%;
  width: 90%;
}
#like{
  margin-left: 5%;
}
.post{
  /*float: left;*/
  display: flex;
  flex-direction: column;
  /*width: 1000px;*/
  width: 45%;
}
.ayush{
  background-color: white;
  font-size: 20px;
  font-family: "Comic Sans MS";
  margin-bottom: 30px;

}
.ayush:hover{
  background-color: #F8F8F8;
}
.ayush p{
  padding-top: 20px;
}
.pope{
  width:20%;
  margin-left: 1%;
}
.people{
  /*width: 20%;*/
  background-color: white;
  font-size: 20px;
  font-family: "Comic Sans MS";
  padding-left: 20px;
  /*height: 25%;*/
}
.button{
  border:none;
  background-color: #C0C0C0;
  padding:10px 10px;
  display: inline-block;
  cursor: pointer;
}
.full{
  display: flex;
   margin-top: 5%;
  justify-content: center;
}
.profile{
  height: 450px;
  overflow: hidden;
  /*background-color: white;*/
  background: url(new11.png);
  /*border-radius: 200px;*/
  /*border-top-right-radius: 200px;*/
  /*border-top-left-radius: 200px;*/
}
#prdt{
  /*margin-left: 15%;*/
  display: flex;
  justify-content: center;
}
.topics{
  background-color: white;
  overflow: hidden;
  margin-top: 30px;
font-size: 20px;
  font-family: "Comic Sans MS";
  padding: 5px;
  line-height: 200%;
}
#list{
  color: rgb(74,128,107);
}
#list:hover{
  color: #003366;
}
.comment{
  margin-right: 5%;
  display: flex;
  margin-top: 2px;
  width: 40%;
  height: 40%;
}
#comm{
  border-radius: 20px;
  /*border: 1px solid;*/
  padding-left: 5px;
  width: 80%;
  margin-right: 5px;
  /*height: 40%;*/
}